@charset "UTF-8";
/*link*/
.da-comment *{font-size:12px;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquoteth,td,input{margin:0;padding:0;}
fieldset,img {border:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style-type: none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
#da-comment a{ cursor:pointer;text-decoration:none;color:#000000;font-size:12px;}
#da-comment a:hover,#da-comment a:active {text-decoration:none;}
#da-comment table{border-collapse:collapse;border-spacing:0;}

.da-comment h1,.da-comment h2,.da-comment h3,.da-comment h4,.da-comment h5,.da-comment h6{font-size:100%;font-weight:normal;}
#da-comment .line-break-solid{display:block;height:1px;border-bottom:1px solid #ECEDEB;clear:both;overflow:hidden;}
#da-comment .line-break-dashed{display:block;height:1px;border-bottom:1px dashed #ECEDEB;clear:both;overflow:hidden;}
#da-comment .line-2 {border-color: #CCCCCC;height:2px;}
#da-comment .break-3 {height:3px;line-height:3px;}
#da-comment .break-12 {height:12px;line-height:12px;}

#da-comment {position:relative;width:100%;background-color:#F8FCFF;font-family:"Microsoft YaHei";}
#da-comment .dc-ctrl {position:relative;height:40px;}
#da-comment .dc-ctrl .dc-btn {position:absolute;left:0px;top:0px;height:40px;}
.dc-ctrl .dc-btn ul li{float:left;}
.dc-ctrl .dc-btn a {margin-left:8px;width:30px;height:27px;line-height:27px;display:block;}
.dc-ctrl .dc-btn a.db-quick {margin-left:0px;width:80px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat 0px -27px;text-align:center;color:white;font-size:15px;font-weight:bold;}
.dc-ctrl .dc-btn a.db-tosay{width:110px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat 0px 0px;text-align:center;color:black;}

#da-comment .dc-ctrl .dc-page{position:absolute;right:0px;top:0px;height:40px;}
.dc-ctrl .dc-page ul li{float:left;margin-left:7px;_width:0;white-space: nowrap;}
.dc-ctrl .dc-page a{padding:0px 5px 0px 5px;height:18px;line-height:18px;display:block;border:1px solid #CCCCCC;background-color:#FFF;color:#1F3A87;}
.dc-ctrl .dc-page a.dp-current {background-color:#1F3A87;color:#FFF;font-weight:bold;}
.dc-ctrl .dc-page a.dp-end {color:#CCCCCC;}
.dc-ctrl .dc-page a:hover{background-color:#1F3A87;color:#FFF;font-weight:bold;}

#da-comment .dc-list {background-color:#FFF;}
#da-comment .dc-list .dl-head {margin:1px;height:40px;}
#da-comment .dc-list .dl-head h2 {float:left;margin-top:5px;margin-left:4px;padding:0 20px 0 0;height:35px;line-height:35px;font-size:16px;background:none;font-weight:bold;}
#da-comment .dc-list .dl-head h2 span {font-size:12px;font-family:'SimSun';color:#666666;}
#da-comment .dc-list .dl-head h2 span a {color:#3399CC;font-weight:bold;}

#da-comment .dc-list .dl-section {}
#da-comment .dc-list .dl-section .more {text-align:center;height:40px;line-height:40px;}
#da-comment .dc-list .dl-section dl {width:100%;margin:18px 0px 18px 0px;}
#da-comment .dc-list .dl-section dt,#da-comment .dc-list .dl-section dd{float:left;}
#da-comment .dc-list .dl-section dt {margin-left:18px;}
#da-comment .dc-list .dl-section .ds-pic {width:40px;height:40px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -81px -27px;}
#da-comment .dc-list .dl-section .ds-pic img{width:40px;height:40px;}
#da-comment .dc-list .dl-section .ds-watch {margin-top:5px;}
#da-comment .dc-list .dl-section .ds-watch a {width:40px;height:16px;line-height:16px;display:block;background-color:#B1CDE5;color:white;font-size:12px;text-align:center;}
#da-comment .dc-list .dl-section dd{margin-left:8px;width:50px;}
#da-comment .dc-list .dl-section .ds-nick {position:relative;font-family:'SimSun';font-size:12px;color:#1E50A2;text-align:left;}
#da-comment .dc-list .dl-section .ds-nick a {color:#666666;}
#da-comment .dc-list .dl-section .ds-nick em {color:#B8B8B8;}
#da-comment .dc-list .dl-section .ds-nick .ds-time {position:absolute;right:0px;}
#da-comment .dc-list .dl-section .ds-text {margin-top:16px;}
#da-comment .dc-list .dl-section .ds-content {margin-top:16px;display:block;font-size:14px;text-align:left;word-wrap: break-word;}
#da-comment .dc-list .dl-section .ds-ctrl {margin-top:16px;text-align:right;}
#da-comment .dc-list .dl-section .ds-ctrl a { padding:0 5px;color:#333333;}
#da-comment .dc-list .dl-section .ds-ctrl .ding span {color:#0084D8;}
/*quick send*/
#da-comment .dc-list .dl-section .ds-talk {position:relative;margin-top:10px;}
.ds-talk .dst-editor {height:128px;}
.ds-talk .dst-editor .dst-pic {float:left;width:75px;height:100%;}
.ds-talk .dst-editor .dst-pic .dst-entity{margin:0px auto;margin-top:22px;width:37px;height:37px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -82px -28px;}
.ds-talk .dst-editor .dst-pic .dst-entity img{width:40px;height:40px;}
.ds-talk .dst-editor .dst-pic .dst-login {margin-top: 8px;}
.ds-talk .dst-editor .dst-pic .dst-logout {margin-top:8px;display:none;}
.ds-talk .dst-editor .dst-pic .dst-hide {display:none;}
.ds-talk .dst-editor .dst-pic .dst-show {display:block;}
.ds-talk .dst-editor .dst-pic .dst-login a {display:block;text-align:center;font-size:12px;}
.ds-talk .dst-editor .dst-pic .dst-logout a {display:block;text-align:center;font-size:12px;}
.ds-talk .dst-editor .dst-input {position:relative;float:left;width:505px;}
.ds-talk .dst-editor .dst-input .dst-arrow {position:absolute;left:-11px;top:50px;width:15px;height:15px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -102px -68px;z-index:100;}
.ds-talk .dst-editor .dst-input .dst-head {position:relative;}
.ds-talk .dst-editor .dst-input .dst-head .dst-nick {float:left;height:40px;line-height:40px;}
.ds-talk .dst-editor .dst-input .dst-head .dst-nick a{color:#006699 !important;font-weight:bold;}
.ds-talk .dst-editor .dst-input .dst-head .dst-nick .dst-status {color:#666666;}
.ds-talk .dst-editor .dst-input .dst-head .dst-nick .dst-hide {visibility:hidden;}
.ds-talk .dst-editor .dst-input .dst-head .dst-nick .dst-input-tip {padding-left:20px;color:red;}
.ds-talk .dst-editor .dst-input .dst-head .dst-ctrl {position:absolute;right:0px;_width:120px;height:40px;}
.ds-talk .dst-editor .dst-input .dst-head .dst-ctrl .login-other {padding:0px;margin-top:11px;height:18px;line-height:18px;}
.ds-talk .dst-editor .dst-input .dst-head .dst-ctrl .login-other li {float:left;margin:0px;padding-left:18px;}
.ds-talk .dst-editor .dst-input .dst-head .dst-ctrl .login-other li.qq {background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -174px 0px;}
.ds-talk .dst-editor .dst-input .dst-text {height:80px;border:1px solid #ABABAB;border-radius:5px;}
.ds-talk .dst-editor .dst-input .dst-text textarea {padding:5px;*margin-top:-1px;_margin-top:0px;width:493px;height:70px;border:0px;background:none;background-color:#FFF;outline:none;resize: none;color:#000;font-size:14px;border-radius:5px;}

.ds-talk .dst-share { display:none; position:absolute;left:80px;}
.ds-talk .dst-user {float:right;height:30px;line-height:30px;text-align:right;}
.ds-talk .dst-user div{float:left;}
.ds-talk .dst-user .tip {font-size:12px;color:#0084D8;}
.ds-talk .dst-user .submit {margin-left:4px;margin-top:-2px;padding:0px;height:30px;}
.ds-talk .dst-user .submit input {display:block;width:78px;height:26px;border:0px;background:none;background:url('http://tmisc.home.news.cn/nc2/css/images/insert.png') no-repeat -12px -12px ;font-size:12px;text-align:center;vertical-align: middle;color:#fff;cursor:pointer;}
/*quick send*/

#da-comment .dc-list .dl-section .ds-reply {position:relative;padding:2px;background-color:#FFFFEE;border:1px solid #999999;}
.ds-reply .ds-reply-nick {position:relative;margin:8px 8px 0px 8px;font-family:'SimSun';font-size:12px;color:#1E50A2;}
.ds-reply .ds-reply-nick a{color:#1E50A2;_z-index:10;}
.ds-reply .ds-reply-nick em{color:#666666;_z-index:10;}
.ds-reply .ds-reply-nick .ds-reply-num {position:absolute;right:0px;_width:100%;_left:0px;_text-align:right;_z-index:1;}
.ds-reply .ds-reply-text {padding:15px 10px 10px 10px;font-size:14px;color:#000;word-wrap: break-word;}
.ds-reply .ds-reply-ctrl {padding:5px;padding-top:0px;text-align:right;visibility: hidden;}
.ds-reply .ds-reply-ctrl a {color:#1E50A2;}
.ds-reply .current {visibility:visible;}
.da-comment .dc-list .dl-section .ds-reply .ds-talk .dst-head .arrow {right:10px;}
#da-comment .dc-list .no-comment {height:180px;background:url('http://tmisc.home.news.cn/nc2/css/images/no-comment.jpg') no-repeat top center;}
/*Detail Comment List end*/

#da-comment .dc-pub-placeholder {}
/*Detail Comment Pub start*/
#da-comment .dc-pub {position:static;width:100%;z-index:80;}
.dc-pub .dp-head {position:relative;height:35px;background-color:#FFF;}
.dc-pub .dp-head h2{float:left;margin-left:4px;padding-bottom:0px;width:125px;height:35px;line-height:35px;background:none;overflow:hidden;font-family:"微软雅黑";font-size:16px;color:#383838;font-weight:bold;}
.dc-pub .dp-head div {display:none; position:absolute;right:12px;height:40px;line-height:40px;font-size:12px;font-family:'SimSun';color:#666666;}
.dc-pub .dp-head div a {color:#666666;}
.dc-pub .dp-head .dph-num {color:#3399CC;font-size:16px;font-weight:bold;}
.dc-pub .dp-head .dp-head-link-list{display: none;width: 360px;list-style: none;position:absolute;right:115px;height:40px;line-height:40px;font-size:12px;font-family:'SimSun';color:#666666;clear: both;}
.dc-pub .dp-head .dp-head-link-list li{width: 60px;float: left;text-align: center;}

.dc-pub .dp-operate {padding:6px 0px 16px 0px;height:168px;background-color:#fafafa;}
.dc-pub .dp-operate .do-editor {height:128px;}
.dc-pub .dp-operate .do-editor .de-pic {float:left;width:75px;height:100%;}
.dc-pub .dp-operate .do-editor .de-pic .dep-entity {margin:0px auto;margin-top:35px;width:37px;height:37px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -82px -28px;}
.dc-pub .dp-operate .do-editor .de-pic .dep-entity img {width:40px;height:40px;}
.dc-pub .dp-operate .do-editor .de-pic .de-login {margin-top:8px;}
.dc-pub .dp-operate .do-editor .de-pic .de-login a{ display:block;text-align:center;color:#666666;font-size:12px;}
.dc-pub .dp-operate .do-editor .de-pic .de-logout {margin-top:8px;}
.dc-pub .dp-operate .do-editor .de-pic .de-logout a{ display:block;text-align:center;color:#666666;font-size:12px;}

/*editor*/
.dc-pub .dp-operate .do-editor .de-input {position:relative;float:left;margin-left:10px;width:527px;height:128px;}
.dc-pub .dp-operate .do-editor .de-input .de-arrow {position:absolute;left:-11px;top:50px;width:15px;height:15px;background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -102px -68px;z-index:100;}
.dc-pub .dp-operate .do-editor .de-input .dei-head {position:relative;}
.dc-pub .dp-operate .do-editor .de-input .dei-head div {float:left;height:40px;line-height:40px;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-nick a{color:#006699 !important;font-weight:bold;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-nick .dhn-status {color:#666666;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-nick .dhn-tip {padding-left:20px;color:red;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-ctrl {position:absolute;right:0px;height:40px;_width:120px;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-ctrl .login-other {padding:0px;margin-top:11px;height:18px;line-height:18px;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-ctrl .login-other li {float:left;margin:0px;padding-left:18px;}
.dc-pub .dp-operate .do-editor .de-input .dei-head .dh-ctrl .login-other li.qq {background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -174px 0px;}
.dc-pub .dp-operate .do-editor .de-input .dei-text {height:80px;border:1px solid #ABABAB;border-radius:5px;}
.dc-pub .dp-operate .do-editor .de-input .dei-text textarea {padding:5px;*margin-top:-1px;_margin-top:0px;height:70px;border:0px;background:none;background-color:#FFF;outline:none;resize: none;border-radius:5px;color:#000;font-size:14px;}

.dc-pub .dp-operate .do-user {float:right;padding-right:10px;height:30px;line-height:30px;display:none;}
.do-user div{float:left;}
.do-user .tip {font-size:12px;color:#0084D8;display:none;}
.do-user .submit {margin-left:4px;margin-top:-2px;padding:0px;height:30px;}
.do-user .submit input {display:block;width:78px;height:26px;border:0px;background:none;background:url('http://tmisc.home.news.cn/nc2/css/images/insert.png') no-repeat -12px -12px ;font-size:12px;text-align:center;vertical-align: middle;color:#FFF;cursor:pointer;}

.submit-tip { float:left; margin-left:85px; padding-left:23px; line-height:1.5; color:#348cec; font-weight:bold; background:url(http://tmisc.home.news.cn/nc2/css/images/tips-icon.png) no-repeat left center}
.do-share { display:none;position:absolute;left:100px;}
/*Detail Comment Pub end*/

/*Detail Comment Dialog start*/
* html body{background-image:url(about:blank);background-attachment:fixed}
.comment-dialog {position:fixed;_position:absolute;padding:18px 12px 18px 12px;width:336px;height:434px;border:1px solid #CDCDCD;background:#FFF;box-shadow:0px 0px 10px #CDCDCD;z-index:100;}
.comment-dialog {_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.offsetHeight/2)-217));}
.comment-dialog .header {position:relative;height:36px;line-height:36px;border-bottom:2px solid #1264a4;}
.comment-dialog .header .title {float:left;padding:0px 6px 0px 6px;height:36px;line-height:36px;background-color:#146eba;font-size:30px;font-family: 'Microsoft YaHei';color:#FFF;}
.comment-dialog .header .close {position:absolute;right:0px;width:36px;height:36px;background:url('http://tmisc.home.news.cn/nc2/css/images/dialog_36x72.gif') no-repeat 0px 0px;overflow:hidden;cursor:pointer;}
.comment-dialog .header .close:hover {background-position:0px -36px;}
.comment-dialog .header .close-selected {background-position:0px -36px;}
.comment-dialog .article {padding:18px;}
.comment-dialog .article .register .r-title{padding-bottom:5px;color:#333333;border-bottom:1px solid #D1D1D1;font-size:14px;}
.comment-dialog .article .register .r-link {margin-top:12px;}
.comment-dialog .article .register .r-link a {height:35px;line-height:35px;display:block;background-color:#146eba;color:#FFF;text-align:center;font-size:18px;font-weight:bold;font-family: 'Microsoft YaHei';}
.comment-dialog .article .connect {margin-top:22px;}
.comment-dialog .article .connect .c-title{padding-bottom:5px;color:#333333;font-size:14px;}
.comment-dialog .article .connect .c-link ul li{float:left;margin-left:3px;width:18px;height:18px;line-height:18px;}
.comment-dialog .article .connect .c-link ul li a{display:block;}
.comment-dialog .article .connect .c-link ul li.qq {background:url('http://tmisc.home.news.cn/nc2/css/images/detail_185x130.gif') no-repeat -174px 0px;}
.comment-dialog .article .connect .c-link ul li.more {width:150px;}
.comment-dialog .article .login {margin-top:22px;}
.comment-dialog .article .login .l-title {padding-bottom:5px;color:#333333;font-size:14px;border-bottom:1px solid #D1D1D1;}
.comment-dialog .article .login .l-form {padding:3px;margin-top:10px;background-color:#F9F9F9;}
.comment-dialog .article .login .l-form .lf-item {margin-top:5px;}
.comment-dialog .article .login .l-form .lf-item .lf-title {padding-bottom:6px;font-size:14px;font-weight:bold;color:#000000;font-family:'SimSun';}
.comment-dialog .article .login .l-form .lf-item .lf-input {padding-bottom:8px;}
.comment-dialog .article .login .l-form .lf-item .lf-input div{float:left;margin-left:5px;height:24px;line-height:24px;}
.comment-dialog .article .login .l-form .lf-item .lf-input div a {color:#999999;font-weight:bold;}
.comment-dialog .article .login .l-form .lf-item .lf-input div input {padding:5px;width:205px;height:14px;line-height:14px;border:0px;background:none;border:1px solid #ABADB3;background-color:#FFF;}
.comment-dialog .article .login .l-submit {margin-top:5px;}
.comment-dialog .article .login .l-submit input {width:95px;height:35px;line-height:35px;border:0px;background-color:#146eba;color:#FFF;font-size:18px;cursor:pointer;}
.comment-dialog-modal {background:none;z-index:89;}
/*Detail Comment Dialog end*/

.report-dialog {width:650px;height:620px;_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight/2)-260));z-index:90;}
.report-dialog .image div {height:100px;background:url('http://tmisc.home.news.cn/nc2/css/images/report_619x100.png') no-repeat center;}
.report-dialog .article .info {margin-top:22px;}
.report-dialog .article .info .i-title{padding-bottom:5px;color:#333333;font-size:14px;}
.report-dialog .article .info .i-user{padding-bottom:5px;color:#000;font-size:14px;font-weight:bold;}
.report-dialog .article .info .i-user span {color:#0084D8;}
.report-dialog .article .info .i-text{padding:3px;height:100px;border:1px solid #C7E2F8;overflow-y:scroll;cursor:text;}
.report-dialog .article .type {margin-top:10px;}
.report-dialog .article .type .t-title {padding-bottom:5px;color:#33333;font-size:14px;font-weight:bold;}
.report-dialog .article .type .t-type table {width:100%;}
.report-dialog .article .type .t-title em {color:red;}
.report-dialog .article .more {margin-top:10px;}
.report-dialog .article .more .m-title {padding-bottom:5px;color:#33333;font-size:14px;font-weight:bold;}
.report-dialog .article .more .m-title em{color:red;}
.report-dialog .article .more .m-text textarea{width:100%;height:40px;border:1px solid #C7E2F8;outline:none;resize:none;font-size:12px;}
.report-dialog .article .btn {margin-top:10px;}
.report-dialog .article .btn {text-align:center;}
.report-dialog .article .btn input {width:95px;height:35px;line-height:35px;border:0px;background-color:#146eba;color:#FFF;font-size:18px;cursor:pointer;}
/*快速注册 对话框*/
.quick-dialog {width:440px;height:170px;background-color:#FFF;_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight/2)-85));z-index:90;}
.quick-dialog .nick {font-family:'Microsoft YaHei'}
.quick-dialog .nick .n-title {padding-bottom:30px;font-size:14px;}
.quick-dialog .nick .n-text {padding-left:15px;font-size:20px;font-weight:bold;}
.quick-dialog .nick .n-text * {float:left;margin-left:5px;}
.quick-dialog .nick .n-text input {font-family:'Microsoft YaHei'}
.quick-dialog .nick .n-text .value {width:150px;height:33px;line-height:33px;line-height:30px;border:1px solid #CCCCCC;background-color:#FFF;font-size:14px;color:#333333;}
.quick-dialog .nick .n-text .submit {width:95px;height:35px;line-height:35px;border:0px;background-color:#006699;color:#FFF;font-size:18px;cursor:pointer;}

/*完善信息 对话框*/
.register-dialog {width:660px;height:440px;background-color:#FFF;_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight/2)-220));z-index:101;}
.register-dialog .article h1 {height:50px;line-height:50px;background-color:#F3F3F3;border:1px solid #E8E8E8;font-size:16px;text-align:center;color:#006599;}
.register-dialog .article .register {margin:18px 0px 18px;}
.register-dialog .article .register .head {float:left;width:200px;height:200px;background:url('http://tmisc.home.news.cn/nc2/css/images/register.png') no-repeat 0px 0px;border:1px solid #E8E8E8;}
.register-dialog .article .register .info {float:left;margin-left:20px;}
.register-dialog .article .register .info table tr th  {padding:15px 0px 15px 0px;text-align:right;font-size:14px;}
.register-dialog .article .register .info table tr td input {width:225px;height:25px;line-height:25px;border:1px solid #BBBBBB;}
.register-dialog .article .register .info .validate input{float:left;width:105px;}
.register-dialog .article .register .info .validate img {float:left;margin-left:5px;width:80px;height:25px;cursor:pointer;}
.register-dialog .article .register .info .validate a {float:left;margin-left:5px;height:25px;line-height:25px;}
.register-dialog .article .register .info .input {position:relative;}
.register-dialog .article .register .info .tip {position:absolute;bottom:-20px;left:10px;width:400px;color:red;font-size:12px;}
.register-dialog .article .register .info .right {width:20px;background:url('http://tmisc.home.news.cn/nc2/css/images/register.png') no-repeat -12px -199px;}
.register-dialog .article .btn {text-align:center;}
.register-dialog .article .btn input {width:95px;height:35px;line-height:35px;border:0px;background-color:#006699;color:#FFF;font-size:18px;cursor:pointer;}

.textplaceholder {position:relative;display:block;}
.textplaceholder .textplaceholder-tip{position:absolute;left:30px;top:25px;color:#ADADAD;font-size:12px;}

.checkbox {width:21px;height:21px;border:0px;background:url('http://tmisc.home.news.cn/nc2/css/images/checkbox_21x42.png') no-repeat 0px -21px;cursor:pointer;outline:none;}
.checkbox-checked{background-position:0px 0px;}

/*评论链接样式重写 add by chenpeng*/
#pinglun a.detail-amount{text-decoration:none;color:#000;}
#pinglun a.detail-amount:hover{text-decoration:none;}
#pinglun a.detail-amount b{color:#3399cc;font-size: 16px;}
#pinglun #da-comment a.detail-amount{text-decoration:none;color:#000;}
#pinglun #da-comment a.detail-amount:hover{text-decoration:none;}
#pinglun #da-comment a.detail-amount b{color:#0084D8;font-size: 16px;}
@media screen and (max-width: 960px)
{
	.do-user .tip, .ds-talk .dst-user .tip { display:none;}
}
@media screen and (max-width: 630px)
{
	.dc-pub .submit-tip,.dc-pub .dp-head .dp-head-link-list,.do-share,.ds-talk .dst-share, #da-comment .dc-list .dl-section .ds-ctrl .report, #da-comment .dc-list .dl-section .ds-ctrl .copy, #da-comment .dc-list .dl-section .ds-nick em { display:none;}
	.textplaceholder .textplaceholder-tip {top:20px; left:15px; padding-right:1em}
	#da-comment .dc-list .no-comment { background-position:center; background-size:100%;}
	#da-comment .dc-list .dl-section .ds-nick .ds-time { top:0px; display:block;}
}

/*多语言样式*/
#da-comment.en .dc-pub .dp-head h2 { width:150px; background-image:url('http://tmisc.home.news.cn/nc2/css/images/en/insert.png');background:none}
#da-comment.en .dc-list .no-comment { background-image:url('http://tmisc.home.news.cn/nc2/css/images/en/no-comment.jpg');}
#da-comment.en .dc-pub .dp-head .dp-head-link-list, #da-comment.en .dc-list .dl-section .ds-ctrl .report, #da-comment.en .dc-list .dl-section .ds-watch strong, #da-comment.en .ds-talk .dst-editor .dst-input .dst-head .dst-nick .dst-status { display:none;}
#da-comment.en .dc-pub .dp-operate .do-editor .de-pic .de-login, #da-comment.en .ds-talk .dst-editor .dst-pic .dst-login { height:0; overflow:hidden;}
#da-comment.en .dc-pub .dp-operate .do-editor .de-input .dei-head .dh-nick a, #da-comment.en .dc-list .dl-section .ds-nick a, #da-comment.en .dc-list .dl-section .ds-pic a { cursor:default;}

/*快速注册提示框样式*/
* html .xhnc_commentQuickTip {position:absolute;bottom:auto;top:expression( eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - (parseInt(this.currentStyle.marginTop,10)||0) - (parseInt(this.currentStyle.marginBottom,10)||0)));}
.xhnc_commentQuickTip { display:none; position:fixed; z-index:600; left:50%; bottom:0; margin-left:-490px; width:980px;}
.xhnc_commentQuickTip * { margin:0; padding:0;}
.xhnc_commentQuickTip .body { position:relative; margin:0 auto; border-top:2px solid #379BE9; width:100%; background:#EDEDED;}
.xhnc_commentQuickTip .title { position:absolute; top:0; left:0; padding-right:25px; width:77px; height:28px; line-height:24px; font-size:16px; color:#fff; font-weight:bold; text-align:center; background:url(http://tmisc.home.news.cn/nc2/images/quick.gif) no-repeat 0 0;}
.xhnc_commentQuickTip .hide { position:absolute; top:3px; right:5px; padding-right:16px; height:20px; line-height:20px; color:#379BE9; cursor:pointer; background:url(http://tmisc.home.news.cn/nc2/images/quick.gif) no-repeat right -68px;}
.xhnc_commentQuickTip .content { padding:10px 60px 15px 100px; line-height:2em; font-size:14px; color:#000;}
.xhnc_commentQuickTip .content .text { font-weight:bold;}
.xhnc_commentQuickTip .content .text span { color:#379BE9;}
.xhnc_commentQuickTip .content .modify a { vertical-align:middle; display:inline-block; margin:0 5px; padding-left:2px; height:21px; line-height:21px; color:#fff; background:url(http://tmisc.home.news.cn/nc2/images/quick.gif) no-repeat 0 -51px;}
.xhnc_commentQuickTip .content .modify a span { display:inline-block; padding:0 5px 0 3px; cursor:pointer; background:url(http://tmisc.home.news.cn/nc2/images/quick.gif) no-repeat right -30px;}
.xhnc_commentCss3 {display:block;perspective:1000px;-webkit-perspective:1000px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;}
.xhnc_commentCss3 .body{transition: all .5s ease-out;-webkit-transition: all .5s ease-out;transform:rotateX(90deg);-webkit-transform:rotateX(90deg);}
.xhnc_commentCss3.show .body {transform:rotateX(360deg);-webkit-transform:rotateX(360deg);}
@media screen and (max-width: 977px)
{
	.xhnc_commentQuickTip {display: none; height:0px; overflow:hidden;}
}
@charset "UTF-8";
/*改版样式*/
#da-comment {position: relative;width: 100%; background-color: #fff; font-family: "Microsoft YaHei";}
.dc-pub .dp-head {position: relative;height: 35px;background-color: #FFF; top: 10px;}
.dc-pub .dp-head h2:before{content:"";float: left;display: block;width: 3px;height: 18px;background: #348cec;margin-right: 5px;	margin-top: 9px;}
.dc-pub .dp-head h2 {float: left;margin-left: 4px; padding-bottom: 0px; width: 125px; height: 35px;line-height: 35px;background: none; overflow: hidden;font-family: "微软雅黑";font-size: 16px; color: #383838;font-weight: bold;}
.dc-pub .dp-operate {padding: 6px 0px 16px 0px;height: 168px;background-color: #fff;}
.dc-pub .dp-operate .do-user {float: right;padding-right: 20px;height: 30px; line-height: 30px;}
.dc-pub .dp-operate .do-editor {height:128px;position: relative;}

.do-user .tip {font-size: 12px;color: #0084D8; display: none;}
.dc-pub .dp-operate { border-top:1px solid #ECEDEB}
.dc-pub .dp-operate .do-editor .de-pic .de-login {margin-top: 0px;position: absolute;top: 139px;right: 110px;}
.dc-pub .dp-operate .do-editor .de-pic .de-login a {display: block; text-align: center; color: #348cec !important;font-size: 12px;float: left; padding: 4px 20px; border: 1px solid #beddff; margin-left: 10px; border-radius: 3px; background: #eff7ff;}
.dc-pub .dp-operate .do-editor .de-input .dei-text {height: 80px; border: 1px solid #348cec; border-radius: 0px;}
.dc-pub .dp-operate .do-editor .de-input .de-arrow { position: absolute;left: -11px; top: 50px;width: 15px; height: 15px; background: url(http://tmisc.home.news.cn/nc2/css/images/head-img50x50.png) no-repeat -102px -68px;z-index: 100; display: none;}
.dc-pub .dp-operate .do-editor .de-pic .dep-entity {margin: 0px auto;  margin-top: 60px;  width: 50px; height: 50px; background: url(http://tmisc.home.news.cn/nc2/css/images/head-img50x50.png) no-repeat;}
.textplaceholder .textplaceholder-tip {position: absolute;left: 100px;top: 30px;color: #ADADAD; font-size: 12px;}
.dc-pub .dp-operate .do-user {float: right;padding-right: 20px;height: 30px;line-height: 30px;display:none;}
#da-comment .dc-list .dl-section .ds-pic {width: 50px;height: 50px;background: url(http://tmisc.home.news.cn/nc2/css/images/head-img50x50.png) no-repeat -81px -27px;}
.dc-pub .dp-operate .do-editor .de-pic .dep-entity img {width: 50px;height: 50px;border-radius: 25px;}
#da-comment .dc-list .dl-section .ds-pic img {width: 50px; height: 50px; border-radius: 25px;}
#da-comment .dc-list .dl-section .ds-nick .ds-time {position: absolute;right:auto;margin-left: 10px;}
#da-comment .dc-list .dl-section .ds-watch {margin-top: 5px;display: none;}
#da-comment .dc-list .dl-head { display: none;}
#da-comment .dc-list .dl-section .ds-ctrl a:first-child { border-left: 1px solid #e6e6e6;}
#da-comment .dc-list .dl-section .ds-ctrl a {color: #999999;padding: 2px 8px;border: 1px solid #e6e6e6; border-left:none;}
#da-comment .dc-list .dl-section .ds-ctrl a.copy {display: none;}
#da-comment .dc-list .dl-section dt {margin-left: 18px; margin-right: 10px;}
#da-comment .dc-list .dl-section dd {margin-left: 8px;width: 50px;position: relative;width: 594px;}
#da-comment .dc-list .dl-section .ds-ctrl {margin-top: 16px;text-align: right;position: absolute;top: -17px;right: 0;}
#da-comment .dc-list .dl-section .ds-nick a {color: #348cec !important;}
#da-comment .dc-list .dl-section .ds-content {margin-top: 16px;display: block;font-size: 16px;text-align: left;word-wrap: break-word;font-family: 黑体;}
#da-comment .dc-list .dl-section .more {text-align: center;height: 40px;line-height: 40px;margin-top: 15px;}
#da-comment a {cursor: pointer;text-decoration: none;color: #b2b2b2;font-size: 12px;}
#da-comment .more a + a {display: none;}
.ds-talk .dst-editor .dst-pic .dst-login {margin-top: 0px;position: absolute;top: 139px;right: 99px;}
.ds-talk .dst-editor .dst-pic .dst-login a{display: block;text-align: center;color: #348cec !important;font-size: 12px;float: left;padding: 4px 20px;border: 1px solid #beddff;margin-left: 10px;border-radius: 3px;background: #eff7ff;}
.ds-talk .dst-user .tip {font-size: 12px;color: #0084D8;display: none;}
.ds-talk .dst-share {position: absolute;left: 80px;display: none;}
.ds-talk .dst-user {float: right;height: 30px;line-height: 30px;text-align: right;padding-right: 10px;}
.ds-talk .dst-editor .dst-input .dst-arrow { display:none;}
.ds-talk .dst-editor .dst-input .dst-text {height: 80px;border: 1px solid #348cec; border-radius: 0px;}
.ds-talk .dst-editor .dst-pic .dst-entity {margin: 0px auto;margin-top: 50px;width: 50px;height: 50px;background: url(http://tmisc.home.news.cn/nc2/css/images/head-img50x50.png) no-repeat;}
.ds-talk .dst-editor .dst-pic .dst-entity img {width: 50px;height: 50px;border-radius: 25px;}
@media screen and (max-width: 630px){
	.ds-talk .dst-editor .dst-pic .dst-login,
	#da-comment .dc-list .dl-section .ds-nick .ds-time {display:none;}
	.textplaceholder .textplaceholder-tip { left:0; top:10px; padding-left:1em; font-size:11px}
}

/*----------------------*/
#da-comment .dc-pub{
	position: static; 
	top: 0px;
	width: 690px; 
}
.xh-comment {
    border: none;
    padding-top: 220px;
    padding-bottom: 0;
    background: #F6F7FB;
    /*font: normal 14px/1.5 "微软雅黑"; */
    color: inherit;
}

.xh-comment .xh-comment-form {
    margin: 0 auto;
}

.xh-comment-form {
    position: absolute;
    top: 0;
    width: 100%;
}
.xh-comment .xh-comment-status{
	margin: 0.5em;
	text-align: center;
    line-height: 1.3;
    color: #7B8A9F;
}
.xh-comment .xh-comment-status .more {
	display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #b2b2b2;
    font-size: 12px;
}

#da-comment .dc-list .dl-section .ds-talk {
    float: right;
    width: 594px;
}

.ds-talk .dst-editor {
    height: 152px;
}

#da-comment textarea {
	box-sizing: border-box;
	width: 100%;
    transition: background 0.5s cubic-bezier(0.03, 0.65, 0.75, 0.15) 0s;
    /*background-color: rgb(255, 255, 255);*/
}

#da-comment .bg-red {
    background-color: rgba(255, 110, 110, 1);
}

.report-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 120; 
    display: block;
}
.report-dialog .header {
    margin-top: 16px;
    margin-bottom: 20px;
}


.dst-user {
    display: none;
}

.no-evt {
    pointer-events: none;
}
@media screen and (max-width:768px){
	.xh-comment .dc-pub .dp-operate .do-editor .de-input{
		max-width: 270px;
		width: 100%;
		margin: 0;
	}
	.dc-pub .dp-operate .do-editor .de-input .dei-text textarea,
	.ds-talk .dst-editor .dst-input .dst-text textarea{
		box-sizing: border-box;
		width: 100%;
	}
	#da-comment .dc-list .dl-section dl{
		width: 94%;
		margin: 12px auto;
	}
	#da-comment .dc-list .dl-section dt{
		margin-left: 0;
		margin-right: 6px;
	}
	#da-comment .dc-list .dl-section dd{
		width: 82%;
		margin: 0 auto;
	}
	#da-comment .dc-list .dl-section .ds-nick em{
		display: none;
	}
	.dc-pub .dp-operate .do-editor .de-pic .de-login{
		right: inherit;
		top: 140px;
		left: 110px;
	}

	#da-comment .dc-list .dl-section .ds-talk,
	#da-comment .dc-pub{
		width: 100%;
	}
	.ds-talk .dst-editor .dst-input{
		width: 76%;
	}
	
}